:root {
  --white: #fff;
  --grey: #1a1b2a;
  --light-grey: #ffffff33;
  --rose: #ff0077;
}

main {
  padding: 40px 5%;
  flex: 1;
}

.section-title-centered {
    grid-column: 1 / -1; 
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: var(--white);
}

.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 25px;
    padding: 20px;
    align-items: start; 
}


.movie-card {
  width: 150px;
  text-decoration: none;
  color: var(--white);
  text-align: center;
  transition: transform 0.2s ease;
}

.movie-card:hover h3 {
  color: var(--rose) !important;
  transition: color 0.3s ease;
}

.movie-card:hover img {
    border: 1px solid var(--rose);
    box-shadow: 0 0 15px rgba(255, 0, 119, 0.4);
    transition: all 0.3s ease;
}

.movie-card h3, 
.movie-card img {
    transition: all 0.3s ease;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.mobile-search-section {
  display: none;
}

/* Responsive Mobile */
@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-search-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }

  #mobileSearchForm {
    display: flex;
    align-items: center;
    background: var(--grey);
    border: 1px solid var(--light-grey);
    border-radius: 30px;
    padding: 5px 15px;
    width: 100%;
    max-width: 500px;
    margin-top: 6dvh;
  }

  #mobileSearchInput {
    background: transparent;
    border: none;
    color: var(--white);
    padding: 10px;
    outline: none;
    width: 100%;
    font-size: 1rem;
  }

  #mobileSearchForm button {
    background: var(--rose);
    color: var(--white);
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .results-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }

  .movie-card {
    width: 100px;
    font-size: 0.8rem;
  }
}
